body {
color : #2d62ff;
}

footer {
/* 	background-color: red; */
}

header {
	
}

#middleRow {
	margin-top: 45px;
}

#filler {
	height: 500px;
}

.userToolBar {
	margin-top: 45px;
	margin-bottom:-35px;
}

td {
	padding-top:10px;
	padding-left:50px;
}

.sumupTable th, .sumupTable td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.profilePicture {
	height: 150px;
}

.googleMap {
	height:200px;
	width: 100%;
	
}

.journeyData {
	border-bottom: 5px solid #ddd;
	padding:10px;
	margin-bottom:20px;
}