body {
color : #2d62ff;
}

footer {
/* 	background-color: red; */
}

header {
	
}

#middleRow {
	margin-top: 45px;
}

#filler {
	height: 500px;
}

.userToolBar {
	margin-top: 45px;
	margin-bottom:-35px;
}

