		<footer class="row" th:fragment="footer">
			<div class="col-md-12">
<!-- 				<p>Contact</p> -->
				<p><a th:href="@{/generic/partnerSignup}">S'enregistrer comme partenaire</a></p>
				<p>Lucas Perais 2016 @ <span th:text="${session.servAddress}"></span></p>
				<p>Powered By: Spring-MVC , Hibernate, GeoKarambola, gpxviewer-next, GoogleMaps, jQuery, Bootstrap</p>
			</div>
		</footer>


<!-- 	</div> -->






<div th:fragment="scripts">
	
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
		crossorigin="anonymous"></script>
		
</div>	