<head th:fragment="headBalise">
<meta charset="UTF-8"></meta>
<title th:text="${pageTitle}"></title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous"></link>
<link rel="stylesheet" th:href="@{/resources/gm.css}"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
	<script th:inline="javascript">
	
	var contextRoot = /*[[@{/}]]*/ '';
	
	</script>
	
	<link href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet"></link>

</head>


<!-- 	<div class="container"> -->
<!-- 	Start Include -->
<div class="row" th:fragment="header">
	<header class="col-md-12">
		<div class="navbar-wrapper">
			<div class="container-fluid">
				<nav class="navbar navbar-fixed-top">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed"
								data-toggle="collapse" data-target="#navbar"
								aria-expanded="false" aria-controls="navbar">
								<span class="sr-only">Toggle navigation</span> <span
									class="icon-bar"></span> <span class="icon-bar"></span> <span
									class="icon-bar"></span>
							</button>
							<a class="navbar-brand" th:href="@{/}">Going Mobile</a>
							<ul class="nav navbar-nav">
								<li><a href="#" th:text="${'Univers '+ session.omega}"></a></li>
							</ul>
						</div>
						<div id="navbar" class="navbar-collapse collapse">
							<ul class="nav navbar-nav">
								<li class="active"><a th:href="@{/generic/viewAllPartners}" class="">Partenaires</a></li>

								<li><a th:href="@{/generic/viewAllOffers}">Offres</a></li>


							</ul>
							<ul class="nav navbar-nav pull-right">

								<li><a th:href="@{/about}">A propos de nous</a></li>

								<!-- 								<ul th:switch="${user}"> -->
								<!-- 									<li th:case="null"> -->
								<!-- 											<a th:href="@{/generic/signup}">S'inscrire</a> -->
								<!-- 									</li> -->
								<!-- 									</ul> -->
								<!-- 									<ul th:case="*"> -->
								<!-- 										<li ><a th:text="${'Bonjour '+user.getUsername()}" th:href="@{/user/profile}"></a></li> -->
								<!-- 										<li class=""><a th:href="@{/generic/logout}">Logout</a></li> -->

								<!-- 								</ul> -->

								<li th:switch="${session.user}"><a th:case="null"
									th:href="@{/generic/signup}">S'inscrire</a> <a th:case="*"
									th:text="${'Bonjour '+session.user.getUsername()}"
									th:href="@{/common/currentProfile}"></a></li>

								<li th:if="${session.user != null}">
										<a href="#" onclick="document.getElementById('logoutForm').submit();">Logout</a>
									</li><form id="logoutForm"
										method="post" th:action="@{/logout}"></form>
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>

	</header>

</div>

<!-- 		End Include -->