<div layout:decorator="masterPages/masterIncludes"
	layout:fragment="content">
	<div class="col-md-12">
		<div class="jumbotron">
		<ul>
		<li>
		<h4>Le projet</h4>
		<p>GoingMobile est une nouvelle application qui permet de sauter d'un transport en commun à son vélo et vice versa.</p>
		<p>Les objectifs: augmenter l'attrait du vélo et des transports dans une synergie.</p>
		</li>
		<li>
		<h4>Concrètement</h4>
		<p>En parcourant des trajets en vélo, l'utilisateur cumule des points.</p>
		<p>Il peut les réinvestir ensuite chez nos partenaires commerciaux.</p>
		</li>
		<li>
		<h4>Le futur</h4>
		<p>Créer une communauté urbaine d'utilisateurs et de partenaires</p>
		<p>Intégrer ce projet aux services des prestataires de transports en communs et aux entreprises</p>
		<p>Dessiner une interface professionnelle</p>
		<p>Développer l'application mobile</p>
		<p>Améliorer les algorithmes de contrôle GPS</p>
		</li>
		<li>
		<h4>Les développeurs</h4>
		<h3>Lucas Perais</h3>
		<p>lcs.perais@gmail.com</p>
		<p>+0032 488 29 44 96</p>
		</li>
		</ul>
		</div></div></div>