<div layout:decorator="masterPages/masterIncludes"
	layout:fragment="content">

	<div class="col-md-12">

		<div class="jumbotron">
			<h3>Voir vos trajets</h3>
			<p th:text="${uploaded}"></p>
			<div class="container">
				<p>
					<a th:href="@{/user/addJourney}">Ajouter un trajet</a>
				</p>
				<div class="journeyContainer"
					th:if="${session.user.journeyses != null}">
					<div class="journeyData" th:each="item : ${session.user.journeyses}">
						<p>
						<h3 th:text="${item.journeyName}"></h3>
						Date d'ajout : <span th:text="${item.addedDate}"></span>
						</p>
						<p>
							Kilomètres : <span th:text="${#numbers.formatDecimal(item.kilometers, 0, 'COMMA', 2, 'POINT')}"></span> ; Vitesse
							Moyenne : <span th:text="${#numbers.formatDecimal(item.avgSpeed, 0, 'COMMA', 2, 'POINT')}"></span> ; Points : <span
								th:text="${#numbers.formatDecimal(item.gmPoints, 0, 'COMMA', 2, 'POINT')}"></span> ; Probabilité Cyclable : <span
								th:text="${#numbers.formatDecimal(item.cycledProbability, 0, 'COMMA', 2, 'POINT')}"></span> ;
						</p>
						<div class="googleMap" th:id="'map'+${item.id}">
						</div>
					</div>


				</div>

			</div>
		</div>


	</div>
	<script type="text/javascript"
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
	<script type="text/javascript"
		src="http://maps.google.com/maps/api/js?key=AIzaSyAM0eTW9bf1e_8BjW5NgF00c1msQXP00J4">
		// 	sensor=false
	</script>
	<script th:src="@{/resources/gpxviewer-next/loadgpx.js}"></script>

	<script type="text/javascript" th:src="@{/resources/onReadyLoadMap.js}">
		
	</script>

</div>


