<div layout:decorator="masterPages/masterIncludes"
	layout:fragment="content">
	<div class="col-md-12">
	
		<div class="jumbotron">
		
		
		<form th:action="@{/partner/doTransaction}" th:object="${transactionWrapper}" method="post">
			
			<p><span class="formField"></span>Rechercher Username : <span class="formField">
			<input id="search" type="text"></input>
			</span></p>
			
			<p><span class="formField"></span>Utilisateur Client : <span class="formField">
			<select id="ajaxUsername" type="text" th:field="*{username}"></select>
			</span></p>
			
			<p><span class="formField">Password : </span><span class="formField">
			<input type="password" th:field="*{password}"></input>
			</span></p>
			
			<p><span class="formField">Nombre de points :  </span><span class="formField">
			<input type="text" th:field="*{transaction.gmPointsEngaged}"></input>
			</span></p>
			
			<p><span class="formField">Description :  </span><span class="formField">
			<input type="textarea" th:field="*{transaction.descriptionTransaction}"></input>
			</span></p>
			
			<p><span class="formField">Commentaire :  </span><span class="formField">
			<input type="textarea" th:field="*{transaction.commentPartner}"></input>
			</span></p>
		
		<p><span class="formField"></span><span class="formField">
			<input type="submit" value="Procéder"></input>
			</span></p>
		</form>
				
		</div>
	</div>
	<script type="text/javascript" th:src="@{/resources/userXp.js}"></script>
</div>