<div layout:decorator="masterPages/masterIncludes"
	layout:fragment="content">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-md-offset-2 col-md-4">
						<p>
							Nom d'utilisateur : <span th:text="${otherUser.username}"></span>
						</p>
						<p>
							E-mail : <span th:text="${otherUser.email}"></span>
						</p>
						
							<img class="profilePicture"
							th:src="${otherUser.profilePicture}"></img>
						
						<div th:if="${otherUser.getClass().getSimpleName() == 'Partner'}">
						
													<p>
							Organisation : <span th:text="${otherUser.organizationName}"></span>
						</p>
												<p>
							Description : <span th:text="${otherUser.organizationDescription}"></span>
						</p>
						
						<p>
							Numéro TVA : <span th:text="${otherUser.vatNumber}"></span>
						</p>
						
						</div>
						
					</div>

				</div>
				</div>
			</div>
		</div>
	</div>
