
<div layout:decorator="masterPages/masterIncludes"
	layout:fragment="content">
	<div class="col-md-12">
		<div class="jumbotron">
			<div class="container">
				<p th:text="${alreadyUsed}"></p>
				<h3>Inscrivez Vous</h3>
				<form th:action="@{/generic/registerUser}" th:object="${genericClient}"
					method="post">
					<table>
						<tr>
							<td>Utilisateur</td>
							<td><input type="text" th:field="*{username}"></input></td>
							<td th:if="${#fields.hasErrors('username')}"
								th:errors="*{username}" class="text-danger">Format invalide</td>
						</tr>

						<tr>
							<td>Password</td>
							<td><input type="password" th:field="*{password}"></input></td>

							<td th:if="${#fields.hasErrors('password')}"
								th:errors="*{password}" class="text-danger">Format invalide</td>

						</tr>
						<tr>
							<td>Prénom</td>
							<td><input type="text" th:field="*{firstName}"></input></td>

							<td th:if="${#fields.hasErrors('firstName')}"
								th:errors="*{firstName}" class="text-danger">Format
								invalide</td>
						</tr>

						<tr>
							<td>Nom</td>
							<td><input type="text" th:field="*{lastName}"></input></td>
							<td th:if="${#fields.hasErrors('lastName')}"
								th:errors="*{lastName}" class="text-danger">Format invalide</td>
						</tr>

						<tr>
							<td>E-mail</td>
							<td><input type="text" th:field="*{email}"></input></td>
							<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
								class="text-danger">Format invalide</td>
						</tr>


						<tr>
							<td><input type="submit" value="Valider"></input></td>
						</tr>
					</table>

				</form>

			</div>
		</div>

	</div>
</div>
