<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:replace="includes/header :: headBalise"></head>

<body>
<div class="container">

<header th:replace="includes/header :: header"></header>

<div th:if="${null != user}" >
	<div th:switch="${user.getClass().getSimpleName()}">
		<div th:case="Client" th:replace="includes/clientToolBar :: clientToolBar"></div>
	
	</div>
	
</div>
	
	
	
	
	
	
	
<div class="main row" id="middleRow" layout:fragment="content"></div>
	
	
	
	
	
	
	
	
	
<footer th:replace="includes/footer :: footer"></footer>	
</div>

<div th:replace="includes/footer :: scripts"></div>

</body>	

</html>